<ul id="hexGrid">
  <% @jobs.each do |job| %>
  <li class="hex">
    <a class="hexIn" href="#">
      <%= image_tag("PatrickWatson.jpg", :alt => "selfie") %>
      <h1><%= job.client %></h1>
      <p><%= job.description %></p>
    </a>
  </li>
  <% end %>
</ul>
